@import '/src/styles.scss';

nav {
    width: 53.2%;
    display: flex;
    align-items: center;
    margin-inline: auto;
    justify-content: space-between;
    @media (max-width: $tablet-width) { width: 90%; }
}

.nav-item {
    display: flex;
    gap: 0.25rem;
    text-decoration: none;
    svg path { fill: rgba($qzed-blue, 0.5); }
    span {
        @extend .qzed-p;
        font-size: 1.5rem;
        color: rgba($qzed-blue, 0.5);
    }

    &:hover, &.active {
        svg path { fill: $qzed-orange; }
        span { color: $qzed-orange; }
    }

    &.active { span { font-weight: 700; } }

    @media (max-width: $tablet-width) {
        svg path { fill: rgba($qzed-white, 0.5); }
        span { display: none; }
        &:hover { svg path { fill: rgba($qzed-white, 0.5); } }
        &.active:hover { svg path { fill: $qzed-orange; } }
    }
}
