@import '/src/styles.scss';

.mobile-wrapper {
    @media (max-width: $tablet-width) {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30% 68%;
        row-gap: 2%;
    }

    app-poster-list-mobile {
        margin-top: 2rem;
    }
}

.mobile-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}


.page-header {
    @extend .qzed-h1;
    font-size: 2rem;
    color: $qzed-blue;

    position: absolute;
    top: 1rem;
    left: 1.19rem;
}

.filter-row {
    display: flex;
    gap: 1.94rem;
    width: 90%;
    margin-top: -2rem;

    button {
        @extend .qzed-h2;
        color: $qzed-black;
        font-size: 1.25rem;
        opacity: 0.3;
        transition: color $theme-transition-time ease-out;
        &.selected { opacity: 1; }
        &.dark { color: $qzed-white; }

        border: none;
        padding: 0;
        background-color: transparent;
    }
}

