@import '/src/styles.scss';

.flex-col {
    display: flex;
    height: 100%;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    flex-direction: column;

    @media (max-width: $tablet-width) {
        height: 75%;
        padding: 0 1rem;
    }
}

.orange { color: $qzed-orange; }
.blue { color: $qzed-blue; }
.transparent-blue { color: rgba($qzed-blue, 0.5); }
.transparent-blue, .blue {
    @media (max-width: $tablet-width) { color: $qzed-white; }
}

.green-btn {
    border: none;
    border-radius: 100vw;
    padding: 0.86rem 4rem;
    background-color: $qzed-green;

    @extend .qzed-p;
    font-weight: 500;
    color: $qzed-black;
    span { color: $qzed-orange; }

    cursor: pointer;
    transition: background-color 0.3s ease-out;
    &:hover { background-color: darken($qzed-green, 10%) }
}
