@import '/src/styles.scss';

.wrapper {
    position: absolute;

    app-nav-bar {
        position: fixed;
        top: 1.56rem;
        width: 100%;
        z-index: 900;
    }

    app-theme-switch {
        position: fixed;
        top: 1.56rem;
        right: 10%;
        z-index: 1000;
    }

    @media (max-width: $tablet-width) {
        app-nav-bar { top: calc(100svh - 3.63rem) }
        app-theme-switch { right: 1.19rem; }
    }
}
