<app-loading-spinner *ngIf="!(posterList$ | async)"></app-loading-spinner>
<div class="poster-list" *ngIf="(posterList$ | async)">
    <button class="poster-item" *ngFor="let poster of posters" (click)="selectPoster(poster)">
        <img class="poster-image" [src]="'https:' + poster['imgUrl']" alt="poster">
        <p class="poster-author" [ngClass]="{ 'dark': isDarkTheme }">{{ poster['author'] }}</p>
    </button>
</div>

<div class="overlay" [ngClass]="{ 'dark': isDarkTheme, 'hide': !isPosterSelected }">
    <button class="close-button" type="button" aria-label="close-icon" (click)="closePoster()">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 25.3335L24.9706 8.36293" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M8 8.00049L24.9706 24.9711" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </button>

    <img class="selected-poster" [src]="'https:' + selectedPoster['imgUrl']" alt="poster">
</div>