/* Use @import '/src/styles.scss'; to import this file into other scss files. */

/** @colors */
$qzed-white: #E7ECEF;
$qzed-black: #1A2227;
$qzed-orange: #FF8C1A;
$qzed-blue: #0066CD;
$qzed-green: #90DAD6;


/** @breakpoints */
$desktop-width: 1440px;
$tablet-width: 1024px;
$mobile-width: 768px;


/** @fonts */
// import Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$qzed-font-family: 'Poppins', sans-serif;

.qzed-h1, .qzed-h2, .qzed-p {
    font-family: $qzed-font-family;
    margin: 0;
}

.qzed-h1 {
    font-weight: 700;
    font-size: 3rem;
    @media (max-width: $mobile-width) { font-size: 2.375rem; }
}

.qzed-h2 {
    font-weight: 600;
    font-size: 2.33rem;
    @media (max-width: $mobile-width) { font-size: 1.875rem; }
}

.qzed-p {
    font-weight: 400;
    font-size: 1rem;
    @media (max-width: $mobile-width) { font-size: 0.9375rem; }
}

.qzed-link {
    font-weight: 500;
    font-size: 1.5rem;
    color: $qzed-orange;
    text-decoration: underline;
    @media (max-width: $mobile-width) { font-size: 0.875rem; }
}

$theme-transition-time: 0.3s;


/** @pages */
body {
    margin: 0;
    overflow: hidden;
    font-family: $qzed-font-family;
}

.desktop-wrapper, .mobile-wrapper {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100svh;
}

.desktop-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
    @media (max-width: $tablet-width) { display: none; }
}

.mobile-wrapper {
    padding-top: 2.25rem;
    display: none;
    background-color: $qzed-white;
    transition: background-color $theme-transition-time ease-out;
    &.dark { background-color: $qzed-black; }
    @media (max-width: $tablet-width) { display: block; }
}

.mobile-bottom  {
    background-image: url('./assets/images/bg-pattern-mobile-blue.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100%;
    border: none;
    border-radius: 0.9375rem 0.9375rem 0 0;

    &.dark {
        background-image: url('./assets/images/bg-pattern-mobile.jpeg');
    }
}

